h1, h2, h3 {font-family: "Hiragino Sans GB", Optima, "Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei";}
body {margin: 1em; background: #f0f0f0; line-height: 1;}
h1 {border-bottom: 8px #d50d54 solid; margin-bottom: 0.5em; padding-bottom: 0.5em;}




